body {
  text-align: center;
  background: #2f2840 url("images/bg_body.gif") 0 0;
  font: normal 20px Avenir, sans-serif;
  min-width: 1100px;
  max-width: 1200px;
  margin: 0 auto;
}

header, main, footer {
  display: inline-block;
}

header {
  padding: 130px 0 0 50px;
}

h1 {
  padding: 0;
}

#logo {
  padding-bottom: 120px;
}

header ul {
  padding-bottom: 50px;
}

header li {
  display: inline-block;
  font: normal 26px Avenir, sans-serif;
  text-transform: uppercase;
  margin: 0 45px 0 45px;
}

header a {
  color: #cacaca;
  text-decoration: none;
}

header a.current {
  font-weight: bold;
  color: #6db9ff;
}

p {
  padding: 0 100px 100px 100px;
}


h2 {
  font: bold 36px Avenir, sans-serif;
  color: #45494d;
  padding-bottom: 50px;
}

h3 {
  font: bold 24px Avenir, sans-serif;
  color: #3e59b2;
  padding-bottom: 20px;
}

main {
  display: inline-block;
  padding: 125px 100px 140px 100px;
  background-color: white;
  box-sizing: padding-box;
}

main article {

}

main article:last-child {
  padding: 0;
}

main article img {
  width: 100%;
  padding-bottom: 60px;
}

main a {
  text-decoration: none;
  font-size: 24px;
  color: #3e59b2;
}

main li {
  display: inline-block;
  width: 140px;
  padding: 0 30px;
}

main li img {
  padding-bottom: 20px;
}

footer {
  background: #e7e7e7;
  padding: 90px 0 75px 0;
  width: 100%;
}

footer p {
  display: inline-block;
  max-width: 500px;
  color: #b2b2b2;
  padding-bottom: 45px;
}

footer li {
  display: inline-block;
}

footer a:before {
  display: inline-block;
  background: transparent url("images/icons_social-media.png") 0 0 no-repeat;
  margin: 0 62px;
  width: 46px;
  height: 46px;
  content: "";
}

footer .facebook:before {
  background-position-y: 33.33%;
}

footer .email:before {
  background-position-y: 66.67%;
}

footer .instagram:before {
  background-position-y: 100%;
}