@import url("whitespace-reset.css");

body {
  text-align: center;
  background: #2f2840 url("images/bg_body.gif") 50% 0 repeat;
  font: normal 20px/28px "Avenir", Helvetica, sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 135px;
}

header {
  padding: 0 0 100px 0;
}

header h1 a {
  display: inline-block;
  text-indent: -9999px;
  background: transparent url("images/logo.png") 0 0 no-repeat;
  width: 298px;
  height: 243px;
}

nav {
  padding-bottom: 50px;
}

nav li {
  display: inline;
  font-size: 26px;
  text-transform: uppercase;
  margin: 0 40px;
}

nav a {
  color: #cacaca;
  text-decoration: none;
}

nav a.active {
  font-weight: bold;
  color: #6db9ff;
}

.column {
  max-width: 1000px;
  margin: 0 auto;
}

main {
  width: 100%;
  padding: 100px 0;
  display: block;
  margin: 0 auto;
  background-color: white;
  box-sizing: border-box;
}

main:last-child {
  padding-bottom: 0;
}

h2 {
  font-weight: 600;
  font-size: 36px;
  color: #45494d;
  padding-bottom: 40px;
}

h2:before, h2:after {
  display: inline-block;
  padding: 0 24px;
  font-size: 30px;
  content: "\2022";
  vertical-align: 3px;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  color: #3e59b2;
  padding-bottom: 20px;
}

p {
  padding: 0 100px;
}

main article {
  padding-bottom: 100px;
}

main article:last-child {
  padding: 0;
}

footer {
  background: #e7e7e7;
  padding: 80px 0;
  width: 100%;
  color: #b2b2b2;
}

footer p {
  padding-bottom: 35px;
}

footer li {
  display: inline-block;
  padding: 0 60px;
}

footer a:before {
  display: inline-block;
  background: transparent url("images/icons_social-media.png") 0 0 no-repeat;
  width: 46px;
  height: 46px;
  content: "";
}

footer .facebook:before { background-position-y: 33.33%; }
footer .email:before { background-position-y: 66.67%; }
footer .instagram:before { background-position-y: 100%; }

#projects article img {
  width: 100%;
  padding-bottom: 40px;
}

#team a {
  text-decoration: none;
  font-size: 24px;
  color: #3e59b2;
}

#team li {
  display: inline-block;
  width: 140px;
  padding: 0 30px;
}

#team li img {
  display: block;
  padding-bottom: 20px;
}

@media (max-width: 875px) {
  #team li {
    width: 48%;
    padding: 0 0 30px 0;
  }

  #team li img {
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  body {
    padding-top: 65px;
  }

  header {
    padding-bottom: 30px;
  }

  header h1 a {
    background-size: 220px;
    width: 220px;
    height: 180px;
  }

  nav {
    padding-bottom: 30px;
  }

  nav li {
    font-size: 20px;
  }

  main, footer {
    padding: 70px 0px;
  }

  main p {
    padding: 0 40px;
    text-align: justify;
  }

  footer {
    padding: 60px 0;
  }

  footer li {
    padding: 0 32px;
  }

  footer p {
    padding: 0 0 60px 0;
  }
}

@media (max-width: 480px) {
  body {
    padding-top: 10px;
    font-size: 16px;
  }

  main {
    padding: 20px 0;
  }

  header {
    padding: 0;
    vertical-align: center;
  }

  header h1 {
    float: left;
    margin: 20px 0 0 0;
    font-size: 20px;
  }

  header h1 a {
    width: auto;
    height: 40px;
    background-size: 90px auto;
    background-position: -10px 0px;
    padding: 10px 0 0 65px;
    text-indent: 0;
    color: #ffffff;
    text-decoration: none;
  }

  h2 {
    font-size: 26px;
  }

  h2:before, h2:after { vertical-align: 0; }

  nav {
    text-align: right;
    padding-bottom: 10px;
  }

  nav li {
    display: block;
    margin: 0 15px 5px 15px;
    font-size: 16px;
  }

  footer {
    padding: 30px 0;
  }

  footer p {
    padding: 0 0 20px 0;
  }

  footer li {
    padding: 0 10px;
  }

  main article {
    padding-bottom: 30px;
  }

  #team li img {
    padding-bottom: 20px;
  }
}