@import url("whitespaces-reset.css");

body {
  font: normal 18px "Roboto Condensed", sans-serif;
  background: linear-gradient(to bottom,#d1dbbd, #fcfff5) no-repeat;
  color: #3e606f;
}

header {
  width: 920px;
  margin: 0 auto;
  padding: 20px 20px 0 20px;
}

h1 {
  float: left;
  font-size: 36px;
  font-weight: normal;
  color: #193441;
  background: transparent url("images/logo.png") 0 0 no-repeat;
  padding: 45px 0 15px 115px;
}

nav {
  float: right;
  padding: 80px 0 0 0;
}

nav li {
  display: inline-block;
}

nav a {
  display: block;
  padding: 10px 40px 14px 40px;
  background-color: #fcfff5;
  color: #91aa9d;
  border-radius: 10px 10px 0 0;
  margin: 0 3px;
  text-decoration: none;
}

nav a.active {
  background-color: #91aa9d;
  color: #fcfff5;
}