@import url("whitespaces-reset.css");

body {
  font: normal 20px Arial, Helvetica, sans-serif;
  background: #3d3d3d;
  color: #45494d;
  background-color: white;
  background: #111111;
}

header {
  text-align: center;
  background: #3d3d3d;
  color: #ffffff;
  padding: 140px 0 60px 0;
}

header h1 {
  font-size: 52px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding-bottom: 50px;
}

header img {
  padding-bottom: 140px;
}

header li {
  display: inline-block;
  padding: 0 30px;
  font-size: 18px;
  text-transform: uppercase;
}

main, footer {
  background: #ffffff;
  padding: 100px 90px;
}

main h2 {
  font-size: 36px;
  font-weight: bold;
  padding-bottom: 25px;
}

main h3 {
  font-weight: normal;
  padding-bottom: 35px;
}

main a {
  color: #50c3af;
  text-decoration: none;
}

main p {
  line-height: 28px;
}

article {
  padding: 0 110px 100px 0;
}

.previous,
.next {
  display: inline-block;
  width: 90px;
  height: 30px;
  background-color: #d2d5da;
  color: #f5f5f5;
  font-size: 1.0rem;
  vertical-align: middle;
  text-align: center;
  border-radius: 15px;
  margin: 0 15px;
}

.previous { margin-left: 0; }
li.active { background-color: #50c3af; }

main ul li a {
  display: block;
  color: #f5f5f5;
}

sidebar {
  float: right;
  display: block;
  padding: 35px 40px;
  width: 250px;
  height: 100%;
  background-color: #f6f7f8;
}

sidebar li {
  padding: 0 0 8px 20px;
  background: transparent url("../images/category_bullet.png") 0 0 no-repeat;
  font-size: 14px;
}

sidebar h3 {
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
}

footer {
  padding: 0px 90px 20px 90px;
  background: #ffffff;
}

footer p {
  padding-top: 20px;
  border-top: solid 1px #d0d0d0;
  font-size: 12px;
}